@im-ui:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=${NPM_RO_TOKEN}

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_TOKEN}

scripts-prepend-node-path=true
